<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="simple_std_project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="connString" connectionString="Data Source=DESKTOP-MGQNIRJ;Initial Catalog=E:\MYPROJECTS\SIMPLE_STD_PROJECT\SIMPLE_STD_PROJECT\DB_STD.MDF;Integrated Security=True;" />
    <add name="simple_std_project.Properties.Settings.db_stdConnectionString"
      connectionString="Data Source=DESKTOP-MGQNIRJ;Initial Catalog=E:\MYPROJECTS\SIMPLE_STD_PROJECT\SIMPLE_STD_PROJECT\DB_STD.MDF;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <userSettings>
    <simple_std_project.Properties.Settings>
      <setting name="col1" serializeAs="String">
        <value>False</value>
      </setting>
    </simple_std_project.Properties.Settings>
  </userSettings>
</configuration>